{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<table class="table table-hover table-striped">
<h1> Inscription </h1>

{{ form_start(form,{'attr':{'novalidate':""}}) }}

{{ form_row(form.username,{'attr':{'class':"form-control"}}) }}
{{ form_row(form.email, {'attr':{'class':"form-control"}}) }}
{{ form_row(form.password, {'attr':{'class':"form-control"}}) }}
{{ form_row(form.confirm_password, {'attr':{'class':"form-control"}}) }}

<button type="submit" class="btn btn-primary btn-lg btn-block"> Inscription !</button>

{{ form_end(form)}}

{% endblock %}