{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
    <div class="card-header" align="left">
        <h2><img src="/img/book.png" width="50" height="50" class="d-inline-block align-top">
            {{articles.user.username}}
        </h2>
        <div align="left">
            <span class="badge badge-light">
                {{ articles.createdAt | date('d/m/Y') }}
                {{ articles.createdAt| date('H:i') }}
            </span>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ articles.title }}</h4>
        <p class="card-text">{{ articles.content }}</p>
    </div>
</div>
<div class="container">
    {% for comment in articles.comments %}
    <div class="jumbotron">
        <h5> <img src="/img/book.png" width="30" height="30" class="d-inline-block align-top"> {{ comment.author}}</h5>
        <p class="text-primary">{{ articles.createdAt | date('d/m/Y') }} {{ articles.createdAt| date('H:i') }}</p>
        <small><b>{{ comment.content}}</b></small>
        <div align="right">
            <a class="js-like" href="{{ path('like',{'id':comment.id}) }}">
                {% if app.user and comment.isLikedByUser(app.user) %}
                <span class="js-color badge badge badge-primary">
                    <i class="fas fa-heart"></i>
                    <span class="js-like-content">DISLIKE</span>
                </span>
                <span class="js-likes"> {{ comment.likes | length }} </span>
                {% elseif app.user and not comment.isLikedByUser(app.user)%}
                <span class="js-color badge badge badge-success">
                    <i class="far fa-heart"></i>
                    <span class="js-like-content">LIKE</span>
                </span>
                <span class="js-likes"> {{ comment.likes | length }} </span>
                {% else %}
                <span class="badge badge badge-primary">{{ comment.likes | length }} LIKES</span>
                {% endif %}

            </a>
        </div>

    </div>
    {% endfor %}

    {% if not app.user %}
    Connect to make comment
    {% else %}

    {{ form_start(form,{'attr':{'novalidate':""}}) }}
    {{ form_row(form.content,{'label': ' ','attr':{'class':"form-control"}}) }}
    <button type="submit" class="btn btn-primary btn-lg btn-block">Share</button>
    {{ form_end(form)}}
    <br><br><br>
    {% endif %}
</div>


{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/axios.js"></script>
{% endblock %}